/* GERAIS */

.linha{
    border-bottom: 2px solid #ee6ea8;
    margin-bottom: 50px;
}

.posts-story-box-1:hover, .posts-story-box-2:hover, .post-carrosseis-box-1:hover, .post-carrosseis-box-2:hover, .post-carrosseis-box-3:hover, .logo-box:hover, .post-estatico-feed-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #f16aa768;
}


.img-galeria img{
    width: 100%;
    height: auto; 
    border-radius: 20px;
}

.img-galeria:target{
    position: fixed;
    width: 100%;
    top: 15px;
    left: 25%;   
}


/* ESTILO TOPO GALERIA */


section.topo-galeria{
    margin-bottom: -30px 0; 
    background-color: #ee6ea8;
    height: 90px;
}


.topo-galeria .txt-topo-galeria h2{
    text-align: center;
    padding: 10px 0;
}

.topo-galeria .txt-topo-galeria p{
    text-align: center;
}


/* ESTILO LOGO GALERIA */
section.logo-galeria{
    padding: 80px 4%;
}

section.logo-galeria .flex{
    gap: 200px;
    justify-content: center;
}

section.logo-galeria .logo-box{
    width: 250px; 
    transition: .2s;
    border-radius: 20px;
    height: 253px;
    
}


/* ESTILO POSTS STORY */
section.posts-story{
    padding: 50px 0;
}

.posts-story .line-galeria h2{
    margin-top: 30px;
}

section.posts-story .flex{
    gap: 30px;
    justify-content: center;
}

.posts-story .posts-story-box-1, .posts-story-box-2{
    width: 180px; 
    transition: .2s;
    border-radius: 20px;
    height: 318px;
}

.posts-story .posts-story-box-2{
    margin-top: 40px;
}

/* ESTILO POSTS REELS */
section.post-reels{
    padding: 80px 0;
}

section.post-reels .flex{
    gap: 20px;
    justify-content: center;
}

section.post-reels .linha{
    margin-bottom: 50px;
}

.post-reels-box iframe{
    width: 300px; 
    height: 618px;
}



/* ESTILO POSTS CARROSSEIS: */
section.post-carrosseis{
    padding: 20px 0 60px 0;
}
.post-carrosseis-box-1, .post-carrosseis-box-2, .post-carrosseis-box-3{
    width: 1250px; 
    transition: .2s;
    border-radius: 20px;
    height: 310px;
}

.post-carrosseis-box-1, .post-carrosseis-box-2, .post-carrosseis-box-3{
    margin: 50px 0;
}

/* ESTILO SITE */
section.site .site-box{
    padding-bottom: 50px;
}

/* ESTILO FEED ESTATICO */
section.post-estatico-feed{
    padding-bottom: 100px;
}

section.post-estatico-feed .flex{
    gap: 20px;
}

.post-estatico-feed-box{

    transition: .2s;
    border-radius: 20px;

}

@media screen and (min-width: 1200px){
    .galeria-mobile {
        display: none;
    }
}



@media screen and (max-width: 1200px){
    section.galeria-mobile{
        padding: 50px 4%;
    }

    .galeria-desktop {
        display: none;
    }

    /* ESTILO SLIDE */

    /* .swiper{
        height: 444px;
    } */

    .swiper-slide{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }

    :root {
        --swiper-theme-color: #ee6ea8 !important;
    }

    :root{
        --swiper-navigation-size:20px!important;
    }
    
    .img-mobile img{
        width: 100%;
        height: auto;
        border-radius: 20px;
    }

    /* ESTILO CARROCEIS */
    section.post-carrosseis-mobile{
        padding: 80px 0px 80px 0px;
    }

    .logo-mobile{
        padding-bottom: 80px;
    }

    /* ESTILO POST ESTATICO  */
    section.post-estatico-mobile{ 
        padding: 50px 0;
    }

    .post-estatico-mobile-box .img-mobile img{
        width: 80%;
        height: auto;
    }

    .post-estatico-mobile-box .img-mobile a{
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    /* ESTILO REELS */
    section.posts-reels-mobile{
        padding: 30px 0;
    }

    section.post-reels-mobile .linha{
        margin-bottom: 30px;
    }

    section.post-reels-mobile .line-galeria{
        padding-top: 50px;
    }




}
