/* GERAIS */

.linha{
    border-bottom: 2px solid #ee6ea8;
    margin-bottom: 20px;
}

.galeria .moldura-story-linha1:hover, .moldura-story-linha2:hover, .moldura-carrosseis-linha1:hover, .moldura-carrosseis-linha2:hover, .moldura-carrosseis-linha3:hover, .galeria-logo:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #f16aa768;
}

.img-galeria img{
    width: 100%;
    height: auto; 
    border-radius: 20px;
}

.img-galeria:target{
    position: fixed;
    width: 100%;
    top: 15px;
    left: 25%;
    
}


/* ESTILO TOPO GALERIA */

section.topo-galeria{
    margin: -30px 0; 
    background-color: #ee6ea8;
    height: 110px;
}

.topo-galeria .txt-topo-galeria h2{
    text-align: center;
    padding: 20px 0;
}

.topo-galeria .txt-topo-galeria p{
    text-align: center;
}


/* ESTILO GALERIA */
section.galeria{
    padding: 100px 4%;
}

section.galeria .flex{
    gap: 10px;
    justify-content: center;
}

/* ESTILO LOGO */
.galeria .galeria-logo{
    width: 250px; 
    transition: .2s;
    border-radius: 20px;
    height: 250px;
}



/* ESTILO MOLDURA STORY */
.galeria .moldura-story-linha1, .moldura-story-linha2{
    width: 180px; 
    transition: .2s;
    border-radius: 20px;
    height: 318px;
}

.galeria .moldura-story-linha2{
    margin-top: 20px;
    margin-bottom: 80px;
}

/* ESTILO CARROSSEIS: */
.moldura-carrosseis-linha1, .moldura-carrosseis-linha2, .moldura-carrosseis-linha3{
    width: 1280px; 
    transition: .2s;
    border-radius: 20px;
    height: 322px;
}

.moldura-carrosseis-linha1, .moldura-carrosseis-linha2{
    margin: 30px 0;
}


@media screen and (min-width: 1200px){
    .galeria-mobile {
        display: none;
    }
}



@media screen and (max-width: 1200px){
    section.galeria-mobile{
        padding: 100px 4%;
    }
    .galeria {
        display: none;
    }

    .swiper{
        height: 500px;
    }

    .swiper-slide{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    :root {
        --swiper-theme-color: #ee6ea8 !important;
    }
    

    .img-mobile img{
        width: 100%;
        height: 450px; 
        border-radius: 20px;
    }

}
