/* GERAIS */

.linha{
    border-bottom: 2px solid #ee6ea8;
    margin-bottom: 30px;
}

.posts-story-box-1:hover, .posts-story-box-2:hover, .post-carrosseis-box-1:hover, .post-carrosseis-box-2:hover, .post-carrosseis-box-3:hover, .logo-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #f16aa768;
}


.img-galeria img{
    width: 100%;
    height: auto; 
    border-radius: 20px;
}

.img-galeria:target{
    position: fixed;
    width: 100%;
    top: 15px;
    left: 25%;   
}


/* ESTILO TOPO GALERIA */


section.topo-galeria{
    margin: -30px 0; 
    background-color: #ee6ea8;
    height: 110px;

}

.topo-galeria .txt-topo-galeria h2{
    text-align: center;
    padding: 20px 0;
}

.topo-galeria .txt-topo-galeria p{
    text-align: center;
}


/* ESTILO LOGO GALERIA */
section.logo-galeria{
    padding: 80px 4%;
}

section.logo-galeria .flex{
    gap: 200px;
    justify-content: center;
}

section.logo-galeria .logo-box{
    width: 250px; 
    transition: .2s;
    border-radius: 20px;
    height: 280px;
    padding-top: 20px;
}



/* ESTILO POSTS STORY */
section.posts-story-box-1{
    padding: 100px 4%;
}

section.posts-story .flex{
    gap: 20px;
    justify-content: center;
}

.posts-story .posts-story-box-1, .posts-story-box-2{
    width: 180px; 
    transition: .2s;
    border-radius: 20px;
    height: 318px;
}

.posts-story .posts-story-box-2{
    margin-top: 20px;
}

/* ESTILO POSTS CARROSSEIS: */
section.post-carrosseis{
    padding: 70px 0;
}
.post-carrosseis-box-1, .post-carrosseis-box-2, .post-carrosseis-box-3{
    width: 1250px; 
    transition: .2s;
    border-radius: 20px;
    height: 310px;
}

.post-carrosseis-box-1, .post-carrosseis-box-2, .post-carrosseis-box-3{
    margin: 30px 0;
}

/* ESTILO SITE */
section.site .site-box{
    padding-bottom: 80px;
}

@media screen and (min-width: 1200px){
    .galeria-mobile {
        display: none;
    }
}



@media screen and (max-width: 1200px){
    section.galeria-mobile{
        padding: 100px 4%;
    }

    .galeria-desktop {
        display: none;
    }

    /* ESTILO SLIDE */

    .swiper{
        height: 500px;
    }

    .swiper-slide{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    :root {
        --swiper-theme-color: #ee6ea8 !important;
    }
    

    .img-mobile img{
        width: 100%;
        height: 450px; 
        border-radius: 20px;
    }

    /* ESTILO CARROCEIS */
    section.post-carrosseis-mobile{
        padding: 50px 0;
    }



}
