
/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #737373;
    height: 100vh;
}

/* ESTILO CABEÇALHO */

.logo-obrigado img{
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ESTILO TOPO */

section.topo-pagina-obrigado{
    padding: 190px 0;
}


.txt-topo-pagina-obrigado h1{
    font-size: 60px;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #F16AA7;
    text-align: center;
}

.txt-topo-pagina-obrigado p{
    text-align: center;
    font-size: 40px;
    margin: 10px 0 70px 0; 
}

#elementEl::after{
    content: '|';
    margin-left: 1px;
    animation: blink 0.8s infinite;
}

@keyframes blink{
    0%{
        opacity: 1
    }
    100%{
        opacity: 0;
    }
}

/* ESTILO REDES SOCIAIS */

.redes-sociais-pagina-obrigado{
    margin-left: auto;
    margin-right: auto;
    background-color: #F16AA7;
    height: 150px;
    width: 50%;
    border-radius: 20px;
}


.btn-social-pagina-obrigado{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 50px;
}


.btn-social-pagina-obrigado i{
    font-size: 30px;
}

.btn-social-pagina-obrigado button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #737373;
    cursor: pointer;
    margin: 0 5px;
    color: rgb(0, 0, 0);
}

/* ESTILO MOBILE */
@media screen and (max-width: 1200px){

    section.topo-pagina-obrigado{
        padding: auto 0px;
    }

    .txt-topo-pagina-obrigado p{
        font-size: 30px;
        margin: auto!important; 
    }

    .redes-sociais-pagina-obrigado{
        width: 90%;
        height: 90px;
        padding: 20px 0;
    }

}